<div class="container">
    <%# toc %>
    <% if (theme.page_toc_enable && toc(page.content).length!==0) { %>
        <%- partial('_partial/toc') %>
    <% } %>

    <article class="post">
        <h2 class="post-title"><%- page.title %></h2>
        <div class="post-content">
        <%- list_tags(site.tags, { class: 'taxonomy', 
                                   style: false, 
                                   separator: ' | ' }) %>

          <% if (site.tags.length == 0) { %>
          Ahora mismo no se están usando etiquetas en esta web.
          <% } %>
        </div>
    </article>
</div>