.wrapper
  max-width: 900px;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;
  position: relative;

  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    height: var(--header-min-height)
    background: no-repeat top/100% var(--header-background)
    filter: var(--header-filter)
    z-index: -1
    pointer-events: none

  .header
    min-height: var(--header-min-height);

.navbar 
  height 3rem
  line-height 4rem
  width 100%
  .container 
    width auto
    max-width 1200px
    text-align center
    margin 0 auto
    display flex
    justify-content space-between

.main 
  flex-grow 1
  flex-shrink 0
  flex-basis auto

.footer
  height 4rem
  width 100%
  text-align center
  padding-top 2em
