/* mobile phone and smart portable devices */
@media screen and (max-width: 479px) 
  .wrapper 
    background: no-repeat top/120% url("/images/background-header.gif")
    padding-right: 1rem
    padding-left: 1rem

    .header
      min-height: unset
    .main
      width: 100%

      .home
        margin: 0 auto 2em auto    
        width: 100%  
        #main 
          height: unset
          .text
            padding: 0 !important
            h1
              margin: 0 !important
  .post
    margin-bottom: 2em
    margin-top: 3em
    .post-title::before
      content: unset
  .miniblog-post
    .miniblog-link::before
      content: unset

/* iPads (portrait and landscape) ----------- */
/* @media screen and (max-width: 1023px) */

/* Desktops and laptops ----------- */
/* @media screen and (min-width: 1024px) */

/* post toc Style */
@media screen and (max-width: 1279px)
  .post-toc
    display none


// instagram embeds
/* (e.g.) Change the width according to screen size */
@media screen and (min-width: 800px)
  .instagram-wrapper
    margin: 1em auto
    width: 80%
    /* max-width: 658px */ /* To resize with max-width , please use this code. */

@media screen and (min-width: 481px)
  .instagram-wrapper
    margin: 1em auto
    width: 90%

@media screen and (min-width: 0px) and (max-width: 480px)
  .instagram-wrapper
    margin: 1em auto
    width: 100%
