<footer id="footer" class="footer">
    <div>
        <pre>┌( ಠ_ಠ)┘</pre>
        <pre>4 8 15 16 23 42</pre>
    </div>
</footer>

<%# video: load plyr only when there are embedded players in the page %>
<script>
  (function () {
    var players = document.querySelectorAll('.js-player');
    if (!players.length) return;

    var version = '<%= theme.plyr.version %>';
    var link = document.createElement('link');
    link.rel = 'stylesheet';
    link.href = 'https://cdn.plyr.io/' + version + '/plyr.css';
    document.head.appendChild(link);

    var script = document.createElement('script');
    script.src = 'https://cdn.plyr.io/' + version + '/plyr.js';
    script.onload = function () {
      Array.from(players).map(function (p) {
        return new Plyr(p, {
          disableContextMenu: 0,
          youtube: {
            noCookie: 1,
            modestbranding: 1,
            showinfo: 0,
            controls: 0,
          },
        });
      });
    };
    document.body.appendChild(script);
  })();
</script>

<%# partial('_partial/statcounter') %>
