<% if (config.statcounter) { %>
<!-- Default Statcounter code for neverbot.com
https://neverbot.com -->
<script type="text/javascript">
var sc_project=<%= config.statcounter.project %>; 
var sc_invisible=1; 
var sc_security="<%= config.statcounter.security %>"; 
var sc_client_storage="disabled"; 
</script>
<script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript>
  <div class="statcounter">
    <a title="Web Analytics" href="https://statcounter.com/" target="_blank">
      <img class="statcounter" 
      src="https://c.statcounter.com/2084337/0/d7af9911/1/" 
      alt="Web Analytics" 
      referrerPolicy="no-referrer-when-downgrade">
    </a>
  </div>
</noscript>
<!-- End of Statcounter Code -->
<% } %>
