#archive
  width 75%

.archive-container
  display flex
  flex-direction row
  align-items flex-start

.post-list
  padding-left: 0px;
  margin-top: 0px;

.archive-item-link
    display inline-block
    text-decoration none
    overflow hidden
    //text-overflow ellipsis
    white-space nowrap
    &:hover
      color $global-link-hover-color
      background-color transparent

  .archive-item-date
    float right
    text-align right
    color $font-secondary-color
