
.fixed-column1 th:nth-child(1), .fixed-column1 td:nth-child(1)
    white-space: nowrap;

.fixed-column2 th:nth-child(2), .fixed-column2 td:nth-child(2)
    white-space: nowrap;

.fixed-column3 th:nth-child(3), .fixed-column3 td:nth-child(3)
    white-space: nowrap;

.fixed-column4 th:nth-child(4), .fixed-column4 td:nth-child(4)
    white-space: nowrap;
